@import 'tailwindcss';
@import 'tw-animate-css';
@import './figma-styles/figma-sizing.css';
@import './figma-styles/figma-colors.css';
@import './figma-styles/figma-typography.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-full: var(--figui-radius-full);
  --radius-large: var(--figui-radius-large);
  --radius-medium: var(--figui-radius-medium);
  --radius-small: var(--figui-radius-small);
  --radius-none: var(--figui-radius-none);
}

@layer components {
  .figma-typography-body-medium {
    font-family: var(--figui-font-family-default);
    font-size: var(--figui-text-body-medium-font-size);
    font-weight: var(--figui-font-weight-medium);
    line-height: var(--figui-text-body-medium-line-height);
    letter-spacing: var(--figui-text-body-medium-letter-spacing);
  }

  .figma-typography-body-large {
    font-family: var(--figui-font-family-default);
    font-size: var(--figui-text-body-large-font-size);
    font-weight: var(--figui-font-weight-medium);
    line-height: var(--figui-text-body-large-line-height);
    letter-spacing: var(--figui-text-body-large-letter-spacing);
  }
}

:root {
  .root {
    isolation: isolate;
  }
}

@layer base {
  body {
    @apply bg-(--figui-color-bg-default) text-(--figui-color-text-default);
  }
}
