:root {
  --figma-font-family-default: 'Inter', ui-sans-serif, system-ui, -apple-system,
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', sans-serif, 'SFProLocalRange';
  --figma-font-family-display: 'Whyte', ui-sans-serif, system-ui, -apple-system,
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', sans-serif;
  --figma-font-family-mono: 'Roboto Mono', 'Monaco', 'Courier New', monospace;

  --figma-font-weight-default: 450;
  --figma-font-weight-medium: 450;
  --figma-font-weight-strong: 550;
  --figma-font-weight-heavy: 550;

  --figma-text-body-large-font-family: var(--figma-font-family-default);
  --figma-text-body-large-font-size: 0.8125rem;
  --figma-text-body-large-font-weight: var(--figma-font-weight-default);
  --figma-text-body-large-letter-spacing: -0.002rem;
  --figma-text-body-large-line-height: 1.375rem;
  --figma-text-body-large-strong-font-family: var(--figma-font-family-default);
  --figma-text-body-large-strong-font-size: 0.8125rem;
  --figma-text-body-large-strong-font-weight: var(--figma-font-weight-strong);
  --figma-text-body-large-strong-letter-spacing: -0.002rem;
  --figma-text-body-large-strong-line-height: 1.375rem;
  --figma-text-body-medium-font-family: var(--figma-font-family-default);
  --figma-text-body-medium-font-size: 0.6875rem;
  --figma-text-body-medium-font-weight: var(--figma-font-weight-default);
  --figma-text-body-medium-letter-spacing: 0.00344rem;
  --figma-text-body-medium-line-height: 1rem;
  --figma-text-body-medium-strong-font-family: var(--figma-font-family-default);
  --figma-text-body-medium-strong-font-size: 0.6875rem;
  --figma-text-body-medium-strong-font-weight: var(--figma-font-weight-strong);
  --figma-text-body-medium-strong-letter-spacing: 0.00344rem;
  --figma-text-body-medium-strong-line-height: 1rem;
  --figma-text-body-small-font-family: var(--figma-font-family-default);
  --figma-text-body-small-font-size: 0.5625rem;
  --figma-text-body-small-font-weight: var(--figma-font-weight-default);
  --figma-text-body-small-letter-spacing: 0.00281rem;
  --figma-text-body-small-line-height: 0.875rem;
  --figma-text-body-small-strong-font-family: var(--figma-font-family-default);
  --figma-text-body-small-strong-font-size: 0.5625rem;
  --figma-text-body-small-strong-font-weight: 500;
  --figma-text-body-small-strong-letter-spacing: 0.016875rem;
  --figma-text-body-small-strong-line-height: 0.875rem;
  --figma-text-display-font-family: var(--figma-font-family-display);
  --figma-text-display-font-size: 3rem;
  --figma-text-display-font-weight: 400;
  --figma-text-display-letter-spacing: -0.09rem;
  --figma-text-display-line-height: 3.5rem;
  --figma-text-heading-large-font-family: var(--figma-font-family-default);
  --figma-text-heading-large-font-size: 1.5rem;
  --figma-text-heading-large-font-weight: var(--figma-font-weight-strong);
  --figma-text-heading-large-letter-spacing: -0.0255rem;
  --figma-text-heading-large-line-height: 2rem;
  --figma-text-heading-medium-font-family: var(--figma-font-family-default);
  --figma-text-heading-medium-font-size: 0.9375rem;
  --figma-text-heading-medium-font-weight: var(--figma-font-weight-strong);
  --figma-text-heading-medium-letter-spacing: -0.00469rem;
  --figma-text-heading-medium-line-height: 1.5625rem;
  --figma-text-heading-small-font-family: var(--figma-font-family-default);
  --figma-text-heading-small-font-size: 0.8125rem;
  --figma-text-heading-small-font-weight: var(--figma-font-weight-strong);
  --figma-text-heading-small-letter-spacing: -0.002rem;
  --figma-text-heading-small-line-height: 1.375rem;
}
