:root {
  /* Sizing */
  --radius-full: 9999px;
  --radius-large: 0.8125rem;
  --radius-medium: 0.3125rem;
  --radius-none: 0;
  --radius-small: 0.125rem;

  --spacer-0: 0;
  --spacer-0px: var(--spacer-0);
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-2-5: 0.75rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-4px: var(--spacer-1);
  --spacer-5: 2rem;
  --spacer-6: 2.5rem;
  --spacer-8px: var(--spacer-2);
  --spacer-16px: var(--spacer-3);
  --spacer-24px: var(--spacer-4);
  --spacer-32px: var(--spacer-5);
  --spacer-40px: var(--spacer-6);

  --z-index-assistant: 11;
  --z-index-canvas-base: 0;
  --z-index-canvas-modifiers: 1;
  --z-index-canvas-pin: 2;
  --z-index-canvas-pin-active: 4;
  --z-index-context-editing: 9;
  --z-index-cursor-multiplayer: 3;
  --z-index-cursor-multiplayer-emote: 5;
  --z-index-cursor-user: 15;
  --z-index-cursor-user-emote: 14;
  --z-index-dropdown: 13;
  --z-index-modal: 12;
  --z-index-nav: 10;
  --z-index-scrub-cursor: 2147483647;
  --z-index-sidebar: 6;
  --z-index-toolbar-widgets: 8;
  --z-index-tooltip: 13;
  --z-index-visual-bell: 11;
  --z-index-window: 7;

  --font-family-default: 'Inter', ui-sans-serif, system-ui, -apple-system,
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', sans-serif, 'SFProLocalRange';
  --font-family-display: 'Whyte', ui-sans-serif, system-ui, -apple-system,
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', sans-serif;
  --font-family-mono: 'Roboto Mono', 'Monaco', 'Courier New', monospace;

  --font-weight-default: 450;
  --font-weight-medium: 450;
  --font-weight-strong: 550;
  --font-weight-heavy: 550;

  /* Typography */
  --text-body-large-font-family: var(--font-family-default);
  --text-body-large-font-size: 0.8125rem;
  --text-body-large-font-weight: var(--font-weight-default);
  --text-body-large-letter-spacing: -0.002rem;
  --text-body-large-line-height: 1.375rem;
  --text-body-large-strong-font-family: var(--font-family-default);
  --text-body-large-strong-font-size: 0.8125rem;
  --text-body-large-strong-font-weight: var(--font-weight-strong);
  --text-body-large-strong-letter-spacing: -0.002rem;
  --text-body-large-strong-line-height: 1.375rem;
  --text-body-medium-font-family: var(--font-family-default);
  --text-body-medium-font-size: 0.6875rem;
  --text-body-medium-font-weight: var(--font-weight-default);
  --text-body-medium-letter-spacing: 0.00344rem;
  --text-body-medium-line-height: 1rem;
  --text-body-medium-strong-font-family: var(--font-family-default);
  --text-body-medium-strong-font-size: 0.6875rem;
  --text-body-medium-strong-font-weight: var(--font-weight-strong);
  --text-body-medium-strong-letter-spacing: 0.00344rem;
  --text-body-medium-strong-line-height: 1rem;
  --text-body-small-font-family: var(--font-family-default);
  --text-body-small-font-size: 0.5625rem;
  --text-body-small-font-weight: var(--font-weight-default);
  --text-body-small-letter-spacing: 0.00281rem;
  --text-body-small-line-height: 0.875rem;
  --text-body-small-strong-font-family: var(--font-family-default);
  --text-body-small-strong-font-size: 0.5625rem;
  --text-body-small-strong-font-weight: 500;
  --text-body-small-strong-letter-spacing: 0.016875rem;
  --text-body-small-strong-line-height: 0.875rem;
  --text-display-font-family: var(--font-family-display);
  --text-display-font-size: 3rem;
  --text-display-font-weight: 400;
  --text-display-letter-spacing: -0.09rem;
  --text-display-line-height: 3.5rem;
  --text-heading-large-font-family: var(--font-family-default);
  --text-heading-large-font-size: 1.5rem;
  --text-heading-large-font-weight: var(--font-weight-strong);
  --text-heading-large-letter-spacing: -0.0255rem;
  --text-heading-large-line-height: 2rem;
  --text-heading-medium-font-family: var(--font-family-default);
  --text-heading-medium-font-size: 0.9375rem;
  --text-heading-medium-font-weight: var(--font-weight-strong);
  --text-heading-medium-letter-spacing: -0.00469rem;
  --text-heading-medium-line-height: 1.5625rem;
  --text-heading-small-font-family: var(--font-family-default);
  --text-heading-small-font-size: 0.8125rem;
  --text-heading-small-font-weight: var(--font-weight-strong);
  --text-heading-small-letter-spacing: -0.002rem;
  --text-heading-small-line-height: 1.375rem;

  --ramp-black-100: #0000000d;
  --ramp-black-200: #0000001a;
  --ramp-black-300: #00000033;
  --ramp-black-400: #0000004d;
  --ramp-black-500: #00000080;
  --ramp-black-600: #000000cc;
  --ramp-black-700: #000000d9;
  --ramp-black-800: #000000e5;
  --ramp-black-900: #000000f2;
  --ramp-black-1000: #000000;
  --ramp-blue-100: #f2f9ff;
  --ramp-blue-200: #e5f4ff;
  --ramp-blue-300: #bde3ff;
  --ramp-blue-400: #80caff;
  --ramp-blue-500: #0d99ff;
  --ramp-blue-600: #007be5;
  --ramp-blue-700: #0768cf;
  --ramp-blue-800: #034ac1;
  --ramp-blue-900: #093077;
  --ramp-blue-1000: #0d193f;
  --ramp-green-100: #edfcf0;
  --ramp-green-200: #d5f7da;
  --ramp-green-300: #aff4c6;
  --ramp-green-400: #85e0a3;
  --ramp-green-500: #14ae5c;
  --ramp-green-600: #009951;
  --ramp-green-700: #008043;
  --ramp-green-800: #036838;
  --ramp-green-900: #024626;
  --ramp-green-1000: #083a23;
  --ramp-grey-100: #f5f5f5;
  --ramp-grey-200: #e6e6e6;
  --ramp-grey-300: #d9d9d9;
  --ramp-grey-400: #b3b3b3;
  --ramp-grey-500: #757575;
  --ramp-grey-600: #444444;
  --ramp-grey-700: #383838;
  --ramp-grey-800: #2c2c2c;
  --ramp-grey-900: #1e1e1e;
  --ramp-grey-1000: #111111;
  --ramp-orange-100: #fff4e5;
  --ramp-orange-200: #ffe0c2;
  --ramp-orange-300: #fcd19c;
  --ramp-orange-400: #ffc470;
  --ramp-orange-500: #ffa629;
  --ramp-orange-600: #fc9e24;
  --ramp-orange-700: #f79722;
  --ramp-orange-800: #dd7c0e;
  --ramp-orange-900: #ce7012;
  --ramp-orange-1000: #8a480f;
  --ramp-pale-blue-100: #f1f5f8;
  --ramp-pale-blue-200: #e3ecf2;
  --ramp-pale-blue-300: #d2dae4;
  --ramp-pale-blue-400: #afbccf;
  --ramp-pale-blue-500: #667799;
  --ramp-pale-blue-600: #536383;
  --ramp-pale-blue-700: #4a5878;
  --ramp-pale-blue-800: #394360;
  --ramp-pale-blue-900: #252d41;
  --ramp-pale-blue-1000: #121721;
  --ramp-pale-green-100: #f1f8f2;
  --ramp-pale-green-200: #daecdf;
  --ramp-pale-green-300: #c3e0cc;
  --ramp-pale-green-400: #9fc1aa;
  --ramp-pale-green-500: #678e79;
  --ramp-pale-green-600: #5c806d;
  --ramp-pale-green-700: #517361;
  --ramp-pale-green-800: #476656;
  --ramp-pale-green-900: #2f483c;
  --ramp-pale-green-1000: #172b22;
  --ramp-pale-persimmon-100: #faefeb;
  --ramp-pale-persimmon-200: #f8e9e2;
  --ramp-pale-persimmon-300: #f3d6c9;
  --ramp-pale-persimmon-400: #ebb49d;
  --ramp-pale-persimmon-500: #d4693b;
  --ramp-pale-persimmon-600: #a55e40;
  --ramp-pale-persimmon-700: #864e37;
  --ramp-pale-persimmon-800: #603a2a;
  --ramp-pale-persimmon-900: #412b21;
  --ramp-pale-persimmon-1000: #1f1714;
  --ramp-pale-pink-100: #f6eef4;
  --ramp-pale-pink-200: #f2e3ee;
  --ramp-pale-pink-300: #e8cee1;
  --ramp-pale-pink-400: #daaace;
  --ramp-pale-pink-500: #ab5998;
  --ramp-pale-pink-600: #86507a;
  --ramp-pale-pink-700: #724667;
  --ramp-pale-pink-800: #51344a;
  --ramp-pale-pink-900: #33252f;
  --ramp-pale-pink-1000: #1b1318;
  --ramp-pale-purple-100: #f4f1f8;
  --ramp-pale-purple-200: #ede7f3;
  --ramp-pale-purple-300: #e0d4ed;
  --ramp-pale-purple-400: #c5b2dc;
  --ramp-pale-purple-500: #7f699b;
  --ramp-pale-purple-600: #6b5884;
  --ramp-pale-purple-700: #604d75;
  --ramp-pale-purple-800: #473956;
  --ramp-pale-purple-900: #33293d;
  --ramp-pale-purple-1000: #1a141f;
  --ramp-pale-red-100: #faedeb;
  --ramp-pale-red-200: #f8e5e2;
  --ramp-pale-red-300: #f3cfc9;
  --ramp-pale-red-400: #eba99d;
  --ramp-pale-red-500: #d4583b;
  --ramp-pale-red-600: #a55440;
  --ramp-pale-red-700: #864537;
  --ramp-pale-red-800: #60332a;
  --ramp-pale-red-900: #412621;
  --ramp-pale-red-1000: #1f1514;
  --ramp-pale-teal-100: #f1f6f8;
  --ramp-pale-teal-200: #e3eef2;
  --ramp-pale-teal-300: #cedee4;
  --ramp-pale-teal-400: #a3c2cc;
  --ramp-pale-teal-500: #518394;
  --ramp-pale-teal-600: #436c7a;
  --ramp-pale-teal-700: #3c606d;
  --ramp-pale-teal-800: #2f4c56;
  --ramp-pale-teal-900: #1f3238;
  --ramp-pale-teal-1000: #101a1e;
  --ramp-pale-violet-100: #f1f1f8;
  --ramp-pale-violet-200: #e7e7f3;
  --ramp-pale-violet-300: #d4d4ed;
  --ramp-pale-violet-400: #b3b2dc;
  --ramp-pale-violet-500: #6a699b;
  --ramp-pale-violet-600: #595884;
  --ramp-pale-violet-700: #4e4d75;
  --ramp-pale-violet-800: #393956;
  --ramp-pale-violet-900: #29293d;
  --ramp-pale-violet-1000: #14141f;
  --ramp-pale-yellow-100: #fff5eb;
  --ramp-pale-yellow-200: #fdeece;
  --ramp-pale-yellow-300: #f5dfa8;
  --ramp-pale-yellow-400: #e8cd7d;
  --ramp-pale-yellow-500: #ad7f00;
  --ramp-pale-yellow-600: #906800;
  --ramp-pale-yellow-700: #7a5800;
  --ramp-pale-yellow-800: #5c4100;
  --ramp-pale-yellow-900: #3a2a10;
  --ramp-pale-yellow-1000: #211a12;
  --ramp-persimmon-100: #fff2eb;
  --ramp-persimmon-200: #ffdfcc;
  --ramp-persimmon-300: #ffbb9e;
  --ramp-persimmon-400: #ffa27a;
  --ramp-persimmon-500: #ff5c16;
  --ramp-persimmon-600: #e24c0c;
  --ramp-persimmon-700: #c53e0d;
  --ramp-persimmon-800: #aa370d;
  --ramp-persimmon-900: #842d0b;
  --ramp-persimmon-1000: #611d0a;
  --ramp-pink-100: #fff0fe;
  --ramp-pink-200: #ffe0fc;
  --ramp-pink-300: #ffbdf2;
  --ramp-pink-400: #ff99e0;
  --ramp-pink-500: #ff24bd;
  --ramp-pink-600: #ea10ac;
  --ramp-pink-700: #cb0b96;
  --ramp-pink-800: #971172;
  --ramp-pink-900: #5f114c;
  --ramp-pink-1000: #451138;
  --ramp-purple-100: #f9f5ff;
  --ramp-purple-200: #f1e5ff;
  --ramp-purple-300: #e4ccff;
  --ramp-purple-400: #d9b8ff;
  --ramp-purple-500: #9747ff;
  --ramp-purple-600: #8638e5;
  --ramp-purple-700: #7c2bda;
  --ramp-purple-800: #681abb;
  --ramp-purple-900: #4b0d87;
  --ramp-purple-1000: #2d0f46;
  --ramp-red-100: #fff5f5;
  --ramp-red-200: #ffe2e0;
  --ramp-red-300: #ffc7c2;
  --ramp-red-400: #ffafa3;
  --ramp-red-500: #f24822;
  --ramp-red-600: #dc3412;
  --ramp-red-700: #bd2915;
  --ramp-red-800: #9f1f18;
  --ramp-red-900: #771208;
  --ramp-red-1000: #660e0b;
  --ramp-teal-100: #ebfbff;
  --ramp-teal-200: #cef0f8;
  --ramp-teal-300: #b6ecf7;
  --ramp-teal-400: #75d7f0;
  --ramp-teal-500: #00a2c2;
  --ramp-teal-600: #0087a8;
  --ramp-teal-700: #047195;
  --ramp-teal-800: #085a78;
  --ramp-teal-900: #093c53;
  --ramp-teal-1000: #0e2f43;
  --ramp-violet-100: #f5f5ff;
  --ramp-violet-200: #ebebff;
  --ramp-violet-300: #d3d1ff;
  --ramp-violet-400: #b4b2ff;
  --ramp-violet-500: #4d49fc;
  --ramp-violet-600: #443deb;
  --ramp-violet-700: #3d32e2;
  --ramp-violet-800: #3620df;
  --ramp-violet-900: #2f15ac;
  --ramp-violet-1000: #1d1254;
  --ramp-white-100: #ffffff0d;
  --ramp-white-200: #ffffff1a;
  --ramp-white-300: #ffffff33;
  --ramp-white-400: #ffffff66;
  --ramp-white-500: #ffffffb2;
  --ramp-white-600: #ffffffcc;
  --ramp-white-700: #ffffffd9;
  --ramp-white-800: #ffffffe5;
  --ramp-white-900: #fffffff2;
  --ramp-white-1000: #ffffff;
  --ramp-yellow-100: #fffbeb;
  --ramp-yellow-200: #fff1c2;
  --ramp-yellow-300: #ffe8a3;
  --ramp-yellow-400: #ffd966;
  --ramp-yellow-500: #ffcd29;
  --ramp-yellow-600: #ffc21a;
  --ramp-yellow-700: #fab815;
  --ramp-yellow-800: #eba611;
  --ramp-yellow-900: #dd940e;
  --ramp-yellow-1000: #b86200;

  --elevation-100: 0 1px 3px 0 #00000026, 0 0 0.5px 0 #0000004d;
  --elevation-200: 0 1px 3px 0 #0000001a, 0 3px 8px 0 #0000001a,
    0 0 0.5px 0 #0000002e;
  --elevation-300: 0 1px 3px 0 #0000001a, 0 5px 12px 0 #00000021,
    0 0 0.5px 0 #00000026;
  --elevation-400: 0 2px 5px 0 #00000026, 0 10px 16px 0 #0000001f,
    0 0 0.5px 0 #0000001f;
  --elevation-500: 0 2px 5px 0 #00000026, 0 10px 24px 0 #0000002e,
    0 0 0.5px 0 #00000014;
}

.dark {
  --ramp-black-100: #0000000d;
  --ramp-black-200: #0000001a;
  --ramp-black-300: #00000033;
  --ramp-black-400: #0000004d;
  --ramp-black-500: #00000080;
  --ramp-black-600: #000000cc;
  --ramp-black-700: #000000d9;
  --ramp-black-800: #000000e5;
  --ramp-black-900: #000000f2;
  --ramp-black-1000: #000000;
  --ramp-blue-100: #e2f1fd;
  --ramp-blue-200: #cfe9fc;
  --ramp-blue-300: #a8d7fa;
  --ramp-blue-400: #7cc4f8;
  --ramp-blue-500: #0c8ce9;
  --ramp-blue-600: #0a6dc2;
  --ramp-blue-700: #105cad;
  --ramp-blue-800: #184591;
  --ramp-blue-900: #1b335f;
  --ramp-blue-1000: #161e36;
  --ramp-green-100: #ddfde2;
  --ramp-green-200: #beefc2;
  --ramp-green-300: #a1e8b9;
  --ramp-green-400: #79d297;
  --ramp-green-500: #198f51;
  --ramp-green-600: #078348;
  --ramp-green-700: #0a5c35;
  --ramp-green-800: #0a4c2d;
  --ramp-green-900: #082618;
  --ramp-green-1000: #0b1e15;
  --ramp-grey-100: #f5f5f5;
  --ramp-grey-200: #e6e6e6;
  --ramp-grey-300: #d9d9d9;
  --ramp-grey-400: #b3b3b3;
  --ramp-grey-500: #757575;
  --ramp-grey-600: #444444;
  --ramp-grey-700: #383838;
  --ramp-grey-800: #2c2c2c;
  --ramp-grey-900: #1e1e1e;
  --ramp-grey-1000: #111111;
  --ramp-orange-100: #ffedd7;
  --ramp-orange-200: #fdd9b4;
  --ramp-orange-300: #fcc67f;
  --ramp-orange-400: #fcb34a;
  --ramp-orange-500: #de7d02;
  --ramp-orange-600: #c86f04;
  --ramp-orange-700: #ad5f05;
  --ramp-orange-800: #985306;
  --ramp-orange-900: #673806;
  --ramp-orange-1000: #371d06;
  --ramp-pale-blue-100: #f1f5f8;
  --ramp-pale-blue-200: #e3ecf2;
  --ramp-pale-blue-300: #d2dae4;
  --ramp-pale-blue-400: #afbccf;
  --ramp-pale-blue-500: #667799;
  --ramp-pale-blue-600: #536383;
  --ramp-pale-blue-700: #4a5878;
  --ramp-pale-blue-800: #394360;
  --ramp-pale-blue-900: #252d41;
  --ramp-pale-blue-1000: #121721;
  --ramp-pale-green-100: #f1f8f2;
  --ramp-pale-green-200: #daecdf;
  --ramp-pale-green-300: #c3e0cc;
  --ramp-pale-green-400: #9fc1aa;
  --ramp-pale-green-500: #678e79;
  --ramp-pale-green-600: #5c806d;
  --ramp-pale-green-700: #517361;
  --ramp-pale-green-800: #476656;
  --ramp-pale-green-900: #2f483c;
  --ramp-pale-green-1000: #172b22;
  --ramp-pale-persimmon-100: #faefeb;
  --ramp-pale-persimmon-200: #f8e9e2;
  --ramp-pale-persimmon-300: #f3d6c9;
  --ramp-pale-persimmon-400: #ebb49d;
  --ramp-pale-persimmon-500: #d4693b;
  --ramp-pale-persimmon-600: #a55e40;
  --ramp-pale-persimmon-700: #864e37;
  --ramp-pale-persimmon-800: #603a2a;
  --ramp-pale-persimmon-900: #412b21;
  --ramp-pale-persimmon-1000: #1f1714;
  --ramp-pale-pink-100: #f6eef4;
  --ramp-pale-pink-200: #f2e3ee;
  --ramp-pale-pink-300: #e8cee1;
  --ramp-pale-pink-400: #daaace;
  --ramp-pale-pink-500: #ab5998;
  --ramp-pale-pink-600: #86507a;
  --ramp-pale-pink-700: #724667;
  --ramp-pale-pink-800: #51344a;
  --ramp-pale-pink-900: #33252f;
  --ramp-pale-pink-1000: #1b1318;
  --ramp-pale-purple-100: #f4f1f8;
  --ramp-pale-purple-200: #ede7f3;
  --ramp-pale-purple-300: #e0d4ed;
  --ramp-pale-purple-400: #c5b2dc;
  --ramp-pale-purple-500: #7f699b;
  --ramp-pale-purple-600: #6b5884;
  --ramp-pale-purple-700: #604d75;
  --ramp-pale-purple-800: #473956;
  --ramp-pale-purple-900: #33293d;
  --ramp-pale-purple-1000: #1a141f;
  --ramp-pale-red-100: #faedeb;
  --ramp-pale-red-200: #f8e5e2;
  --ramp-pale-red-300: #f3cfc9;
  --ramp-pale-red-400: #eba99d;
  --ramp-pale-red-500: #d4583b;
  --ramp-pale-red-600: #a55440;
  --ramp-pale-red-700: #864537;
  --ramp-pale-red-800: #60332a;
  --ramp-pale-red-900: #412621;
  --ramp-pale-red-1000: #1f1514;
  --ramp-pale-teal-100: #f1f6f8;
  --ramp-pale-teal-200: #e3eef2;
  --ramp-pale-teal-300: #cedee4;
  --ramp-pale-teal-400: #a3c2cc;
  --ramp-pale-teal-500: #518394;
  --ramp-pale-teal-600: #436c7a;
  --ramp-pale-teal-700: #3c606d;
  --ramp-pale-teal-800: #2f4c56;
  --ramp-pale-teal-900: #1f3238;
  --ramp-pale-teal-1000: #101a1e;
  --ramp-pale-violet-100: #f1f1f8;
  --ramp-pale-violet-200: #e7e7f3;
  --ramp-pale-violet-300: #d4d4ed;
  --ramp-pale-violet-400: #b3b2dc;
  --ramp-pale-violet-500: #6a699b;
  --ramp-pale-violet-600: #595884;
  --ramp-pale-violet-700: #4e4d75;
  --ramp-pale-violet-800: #393956;
  --ramp-pale-violet-900: #29293d;
  --ramp-pale-violet-1000: #14141f;
  --ramp-pale-yellow-100: #fff5eb;
  --ramp-pale-yellow-200: #fdeece;
  --ramp-pale-yellow-300: #f5dfa8;
  --ramp-pale-yellow-400: #e8cd7d;
  --ramp-pale-yellow-500: #ad7f00;
  --ramp-pale-yellow-600: #906800;
  --ramp-pale-yellow-700: #7a5800;
  --ramp-pale-yellow-800: #5c4100;
  --ramp-pale-yellow-900: #3a2a10;
  --ramp-pale-yellow-1000: #211a12;
  --ramp-persimmon-100: #ffe8db;
  --ramp-persimmon-200: #fed2b8;
  --ramp-persimmon-300: #ffb494;
  --ramp-persimmon-400: #ffa27a;
  --ramp-persimmon-500: #f65009;
  --ramp-persimmon-600: #db4606;
  --ramp-persimmon-700: #b93f13;
  --ramp-persimmon-800: #8e3210;
  --ramp-persimmon-900: #59220d;
  --ramp-persimmon-1000: #43160a;
  --ramp-pink-100: #fde2fb;
  --ramp-pink-200: #fccaf8;
  --ramp-pink-300: #fbb1ed;
  --ramp-pink-400: #fc9ce0;
  --ramp-pink-500: #f316b0;
  --ramp-pink-600: #d01b9c;
  --ramp-pink-700: #96207a;
  --ramp-pink-800: #68275e;
  --ramp-pink-900: #46253e;
  --ramp-pink-1000: #231a21;
  --ramp-purple-100: #f1e7fe;
  --ramp-purple-200: #e3cffc;
  --ramp-purple-300: #d6b6fb;
  --ramp-purple-400: #d1a8ff;
  --ramp-purple-500: #8a38f5;
  --ramp-purple-600: #7a2ed6;
  --ramp-purple-700: #652ca8;
  --ramp-purple-800: #50297a;
  --ramp-purple-900: #3e2654;
  --ramp-purple-1000: #1f1924;
  --ramp-red-100: #fee7e7;
  --ramp-red-200: #fccdca;
  --ramp-red-300: #fbbcb6;
  --ramp-red-400: #fca397;
  --ramp-red-500: #e03e1a;
  --ramp-red-600: #c4381c;
  --ramp-red-700: #963323;
  --ramp-red-800: #7c2622;
  --ramp-red-900: #54211c;
  --ramp-red-1000: #311817;
  --ramp-teal-100: #ddf7fd;
  --ramp-teal-200: #bce6f1;
  --ramp-teal-300: #a4e2ef;
  --ramp-teal-400: #67cbe4;
  --ramp-teal-500: #0887a0;
  --ramp-teal-600: #087691;
  --ramp-teal-700: #0a5b76;
  --ramp-teal-800: #0c455a;
  --ramp-teal-900: #0c2937;
  --ramp-teal-1000: #0e1f2a;
  --ramp-violet-100: #f5f5ff;
  --ramp-violet-200: #e6e5ff;
  --ramp-violet-300: #ceccff;
  --ramp-violet-400: #b9b8ff;
  --ramp-violet-500: #3d38f5;
  --ramp-violet-600: #3b34d5;
  --ramp-violet-700: #372cc9;
  --ramp-violet-800: #3927be;
  --ramp-violet-900: #302579;
  --ramp-violet-1000: #1d1835;
  --ramp-white-100: #ffffff0d;
  --ramp-white-200: #ffffff1a;
  --ramp-white-300: #ffffff33;
  --ramp-white-400: #ffffff66;
  --ramp-white-500: #ffffffb2;
  --ramp-white-600: #ffffffcc;
  --ramp-white-700: #ffffffd9;
  --ramp-white-800: #ffffffe5;
  --ramp-white-900: #fffffff2;
  --ramp-white-1000: #ffffff;
  --ramp-yellow-100: #fdf7dd;
  --ramp-yellow-200: #fbe8ad;
  --ramp-yellow-300: #f9df90;
  --ramp-yellow-400: #f7d15f;
  --ramp-yellow-500: #f3c11b;
  --ramp-yellow-600: #f2b50d;
  --ramp-yellow-700: #e4a711;
  --ramp-yellow-800: #c58011;
  --ramp-yellow-900: #925711;
  --ramp-yellow-1000: #71440f;

  --elevation-100: 0 1px 3px 0 #00000066, inset 0 0 0.5px 0 #ffffff4d,
    inset 0 0.5px 0 0 #ffffff1a, 0 0 0.5px 0 #00000080;
  --elevation-200: 0 1px 3px 0 #00000080, inset 0 0 0.5px 0 #ffffff4d,
    0 3px 8px 0 #00000059, inset 0 0.5px 0 0 #ffffff14;
  --elevation-300: 0 1px 3px 0 #00000080, inset 0 0 0.5px 0 #ffffff4d,
    0 5px 12px 0 #00000059, inset 0 0.5px 0 0 #ffffff14;
  --elevation-400: 0 2px 5px 0 #00000059, inset 0 0 0.5px 0 #ffffff59,
    0 10px 16px 0 #00000059, inset 0 0.5px 0 0 #ffffff14;
  --elevation-500: 0 3px 5px 0 #00000059, inset 0 0 0.5px 0 #ffffff59,
    0 10px 24px 0 #00000073, inset 0 0.5px 0 0 #ffffff14;
}

@layer components {
  .typography-body-small {
    font-family: var(--text-body-small-font-family);
    font-size: var(--text-body-small-font-size);
    font-weight: var(--text-body-small-font-weight);
    line-height: var(--text-body-small-line-height);
    letter-spacing: var(--text-body-small-letter-spacing);
  }
  .typography-body-medium {
    font-family: var(--text-body-medium-font-family);
    font-size: var(--text-body-medium-font-size);
    font-weight: var(--text-body-medium-font-weight);
    line-height: var(--text-body-medium-line-height);
    letter-spacing: var(--text-body-medium-letter-spacing);
  }
  .typography-body-large {
    font-family: var(--text-body-large-font-family);
    font-size: var(--text-body-large-font-size);
    font-weight: var(--text-body-large-font-weight);
    line-height: var(--text-body-large-line-height);
    letter-spacing: var(--text-body-large-letter-spacing);
  }

  .typography-body-small-strong {
    font-family: var(--text-body-small-strong-font-family);
    font-size: var(--text-body-small-strong-font-size);
    font-weight: var(--text-body-small-strong-font-weight);
    line-height: var(--text-body-small-strong-line-height);
    letter-spacing: var(--text-body-small-strong-letter-spacing);
  }

  .typography-body-medium-strong {
    font-family: var(--text-body-medium-strong-font-family);
    font-size: var(--text-body-medium-strong-font-size);
    font-weight: var(--text-body-medium-strong-font-weight);
    line-height: var(--text-body-medium-strong-line-height);
    letter-spacing: var(--text-body-medium-strong-letter-spacing);
  }

  .typography-body-large-strong {
    font-family: var(--text-body-large-strong-font-family);
    font-size: var(--text-body-large-strong-font-size);
    font-weight: var(--text-body-large-strong-font-weight);
    line-height: var(--text-body-large-strong-line-height);
    letter-spacing: var(--text-body-large-strong-letter-spacing);
  }

  .typography-heading-small {
    font-family: var(--text-heading-small-font-family);
    font-size: var(--text-heading-small-font-size);
    font-weight: var(--text-heading-small-font-weight);
    line-height: var(--text-heading-small-line-height);
    letter-spacing: var(--text-heading-small-letter-spacing);
  }
  .typography-heading-medium {
    font-family: var(--text-heading-medium-font-family);
    font-size: var(--text-heading-medium-font-size);
    font-weight: var(--text-heading-medium-font-weight);
    line-height: var(--text-heading-medium-line-height);
    letter-spacing: var(--text-heading-medium-letter-spacing);
  }

  .typography-heading-large {
    font-family: var(--text-heading-large-font-family);
    font-size: var(--text-heading-large-font-size);
    font-weight: var(--text-heading-large-font-weight);
    line-height: var(--text-heading-large-line-height);
    letter-spacing: var(--text-heading-large-letter-spacing);
  }

  .typography-display {
    font-family: var(--text-display-font-family);
    font-size: var(--text-display-font-size);
    font-weight: var(--text-display-font-weight);
    line-height: var(--text-display-line-height);
    letter-spacing: var(--text-display-letter-spacing);
  }
}

@theme inline {
  --radius-full: var(--radius-full);
  --radius-large: var(--radius-large);
  --radius-medium: var(--radius-medium);
  --radius-none: var(--radius-none);
  --radius-small: var(--radius-small);

  --spacing-0: var(--spacer-0);
  --spacing-0px: var(--spacer-0px);
  --spacing-1: var(--spacer-1);
  --spacing-2: var(--spacer-2);
  --spacing-2-5: var(--spacer-2-5);
  --spacing-3: var(--spacer-3);
  --spacing-4: var(--spacer-4);
  --spacing-4px: var(--spacer-4px);
  --spacing-5: var(--spacer-5);
  --spacing-6: var(--spacer-6);
  --spacing-8px: var(--spacer-8px);
  --spacing-16px: var(--spacer-16px);
  --spacing-24px: var(--spacer-24px);
  --spacing-32px: var(--spacer-32px);
  --spacing-40px: var(--spacer-40px);

  --shadow-100: var(--elevation-100);
  --shadow-200: var(--elevation-200);
  --shadow-300: var(--elevation-300);
  --shadow-400: var(--elevation-400);
  --shadow-500: var(--elevation-500);

  --color-black-100: var(--ramp-black-100);
  --color-black-200: var(--ramp-black-200);
  --color-black-300: var(--ramp-black-300);
  --color-black-400: var(--ramp-black-400);
  --color-black-500: var(--ramp-black-500);
  --color-black-600: var(--ramp-black-600);
  --color-black-700: var(--ramp-black-700);
  --color-black-800: var(--ramp-black-800);
  --color-black-900: var(--ramp-black-900);
  --color-black-1000: var(--ramp-black-1000);
  --color-blue-100: var(--ramp-blue-100);
  --color-blue-200: var(--ramp-blue-200);
  --color-blue-300: var(--ramp-blue-300);
  --color-blue-400: var(--ramp-blue-400);
  --color-blue-500: var(--ramp-blue-500);
  --color-blue-600: var(--ramp-blue-600);
  --color-blue-700: var(--ramp-blue-700);
  --color-blue-800: var(--ramp-blue-800);
  --color-blue-900: var(--ramp-blue-900);
  --color-blue-1000: var(--ramp-blue-1000);
  --color-green-100: var(--ramp-green-100);
  --color-green-200: var(--ramp-green-200);
  --color-green-300: var(--ramp-green-300);
  --color-green-400: var(--ramp-green-400);
  --color-green-500: var(--ramp-green-500);
  --color-green-600: var(--ramp-green-600);
  --color-green-700: var(--ramp-green-700);
  --color-green-800: var(--ramp-green-800);
  --color-green-900: var(--ramp-green-900);
  --color-green-1000: var(--ramp-green-1000);
  --color-grey-100: var(--ramp-grey-100);
  --color-grey-200: var(--ramp-grey-200);
  --color-grey-300: var(--ramp-grey-300);
  --color-grey-400: var(--ramp-grey-400);
  --color-grey-500: var(--ramp-grey-500);
  --color-grey-600: var(--ramp-grey-600);
  --color-grey-700: var(--ramp-grey-700);
  --color-grey-800: var(--ramp-grey-800);
  --color-grey-900: var(--ramp-grey-900);
  --color-grey-1000: var(--ramp-grey-1000);
  --color-orange-100: var(--ramp-orange-100);
  --color-orange-200: var(--ramp-orange-200);
  --color-orange-300: var(--ramp-orange-300);
  --color-orange-400: var(--ramp-orange-400);
  --color-orange-500: var(--ramp-orange-500);
  --color-orange-600: var(--ramp-orange-600);
  --color-orange-700: var(--ramp-orange-700);
  --color-orange-800: var(--ramp-orange-800);
  --color-orange-900: var(--ramp-orange-900);
  --color-orange-1000: var(--ramp-orange-1000);
  --color-pale-blue-100: var(--ramp-pale-blue-100);
  --color-pale-blue-200: var(--ramp-pale-blue-200);
  --color-pale-blue-300: var(--ramp-pale-blue-300);
  --color-pale-blue-400: var(--ramp-pale-blue-400);
  --color-pale-blue-500: var(--ramp-pale-blue-500);
  --color-pale-blue-600: var(--ramp-pale-blue-600);
  --color-pale-blue-700: var(--ramp-pale-blue-700);
  --color-pale-blue-800: var(--ramp-pale-blue-800);
  --color-pale-blue-900: var(--ramp-pale-blue-900);
  --color-pale-blue-1000: var(--ramp-pale-blue-1000);
  --color-pale-green-100: var(--ramp-pale-green-100);
  --color-pale-green-200: var(--ramp-pale-green-200);
  --color-pale-green-300: var(--ramp-pale-green-300);
  --color-pale-green-400: var(--ramp-pale-green-400);
  --color-pale-green-500: var(--ramp-pale-green-500);
  --color-pale-green-600: var(--ramp-pale-green-600);
  --color-pale-green-700: var(--ramp-pale-green-700);
  --color-pale-green-800: var(--ramp-pale-green-800);
  --color-pale-green-900: var(--ramp-pale-green-900);
  --color-pale-green-1000: var(--ramp-pale-green-1000);
  --color-pale-persimmon-100: var(--ramp-pale-persimmon-100);
  --color-pale-persimmon-200: var(--ramp-pale-persimmon-200);
  --color-pale-persimmon-300: var(--ramp-pale-persimmon-300);
  --color-pale-persimmon-400: var(--ramp-pale-persimmon-400);
  --color-pale-persimmon-500: var(--ramp-pale-persimmon-500);
  --color-pale-persimmon-600: var(--ramp-pale-persimmon-600);
  --color-pale-persimmon-700: var(--ramp-pale-persimmon-700);
  --color-pale-persimmon-800: var(--ramp-pale-persimmon-800);
  --color-pale-persimmon-900: var(--ramp-pale-persimmon-900);
  --color-pale-persimmon-1000: var(--ramp-pale-persimmon-1000);
  --color-pale-pink-100: var(--ramp-pale-pink-100);
  --color-pale-pink-200: var(--ramp-pale-pink-200);
  --color-pale-pink-300: var(--ramp-pale-pink-300);
  --color-pale-pink-400: var(--ramp-pale-pink-400);
  --color-pale-pink-500: var(--ramp-pale-pink-500);
  --color-pale-pink-600: var(--ramp-pale-pink-600);
  --color-pale-pink-700: var(--ramp-pale-pink-700);
  --color-pale-pink-800: var(--ramp-pale-pink-800);
  --color-pale-pink-900: var(--ramp-pale-pink-900);
  --color-pale-pink-1000: var(--ramp-pale-pink-1000);
  --color-pale-purple-100: var(--ramp-pale-purple-100);
  --color-pale-purple-200: var(--ramp-pale-purple-200);
  --color-pale-purple-300: var(--ramp-pale-purple-300);
  --color-pale-purple-400: var(--ramp-pale-purple-400);
  --color-pale-purple-500: var(--ramp-pale-purple-500);
  --color-pale-purple-600: var(--ramp-pale-purple-600);
  --color-pale-purple-700: var(--ramp-pale-purple-700);
  --color-pale-purple-800: var(--ramp-pale-purple-800);
  --color-pale-purple-900: var(--ramp-pale-purple-900);
  --color-pale-purple-1000: var(--ramp-pale-purple-1000);
  --color-pale-red-100: var(--ramp-pale-red-100);
  --color-pale-red-200: var(--ramp-pale-red-200);
  --color-pale-red-300: var(--ramp-pale-red-300);
  --color-pale-red-400: var(--ramp-pale-red-400);
  --color-pale-red-500: var(--ramp-pale-red-500);
  --color-pale-red-600: var(--ramp-pale-red-600);
  --color-pale-red-700: var(--ramp-pale-red-700);
  --color-pale-red-800: var(--ramp-pale-red-800);
  --color-pale-red-900: var(--ramp-pale-red-900);
  --color-pale-red-1000: var(--ramp-pale-red-1000);
  --color-pale-teal-100: var(--ramp-pale-teal-100);
  --color-pale-teal-200: var(--ramp-pale-teal-200);
  --color-pale-teal-300: var(--ramp-pale-teal-300);
  --color-pale-teal-400: var(--ramp-pale-teal-400);
  --color-pale-teal-500: var(--ramp-pale-teal-500);
  --color-pale-teal-600: var(--ramp-pale-teal-600);
  --color-pale-teal-700: var(--ramp-pale-teal-700);
  --color-pale-teal-800: var(--ramp-pale-teal-800);
  --color-pale-teal-900: var(--ramp-pale-teal-900);
  --color-pale-teal-1000: var(--ramp-pale-teal-1000);
  --color-pale-violet-100: var(--ramp-pale-violet-100);
  --color-pale-violet-200: var(--ramp-pale-violet-200);
  --color-pale-violet-300: var(--ramp-pale-violet-300);
  --color-pale-violet-400: var(--ramp-pale-violet-400);
  --color-pale-violet-500: var(--ramp-pale-violet-500);
  --color-pale-violet-600: var(--ramp-pale-violet-600);
  --color-pale-violet-700: var(--ramp-pale-violet-700);
  --color-pale-violet-800: var(--ramp-pale-violet-800);
  --color-pale-violet-900: var(--ramp-pale-violet-900);
  --color-pale-violet-1000: var(--ramp-pale-violet-1000);
  --color-pale-yellow-100: var(--ramp-pale-yellow-100);
  --color-pale-yellow-200: var(--ramp-pale-yellow-200);
  --color-pale-yellow-300: var(--ramp-pale-yellow-300);
  --color-pale-yellow-400: var(--ramp-pale-yellow-400);
  --color-pale-yellow-500: var(--ramp-pale-yellow-500);
  --color-pale-yellow-600: var(--ramp-pale-yellow-600);
  --color-pale-yellow-700: var(--ramp-pale-yellow-700);
  --color-pale-yellow-800: var(--ramp-pale-yellow-800);
  --color-pale-yellow-900: var(--ramp-pale-yellow-900);
  --color-pale-yellow-1000: var(--ramp-pale-yellow-1000);
  --color-persimmon-100: var(--ramp-persimmon-100);
  --color-persimmon-200: var(--ramp-persimmon-200);
  --color-persimmon-300: var(--ramp-persimmon-300);
  --color-persimmon-400: var(--ramp-persimmon-400);
  --color-persimmon-500: var(--ramp-persimmon-500);
  --color-persimmon-600: var(--ramp-persimmon-600);
  --color-persimmon-700: var(--ramp-persimmon-700);
  --color-persimmon-800: var(--ramp-persimmon-800);
  --color-persimmon-900: var(--ramp-persimmon-900);
  --color-persimmon-1000: var(--ramp-persimmon-1000);
  --color-pink-100: var(--ramp-pink-100);
  --color-pink-200: var(--ramp-pink-200);
  --color-pink-300: var(--ramp-pink-300);
  --color-pink-400: var(--ramp-pink-400);
  --color-pink-500: var(--ramp-pink-500);
  --color-pink-600: var(--ramp-pink-600);
  --color-pink-700: var(--ramp-pink-700);
  --color-pink-800: var(--ramp-pink-800);
  --color-pink-900: var(--ramp-pink-900);
  --color-pink-1000: var(--ramp-pink-1000);
  --color-purple-100: var(--ramp-purple-100);
  --color-purple-200: var(--ramp-purple-200);
  --color-purple-300: var(--ramp-purple-300);
  --color-purple-400: var(--ramp-purple-400);
  --color-purple-500: var(--ramp-purple-500);
  --color-purple-600: var(--ramp-purple-600);
  --color-purple-700: var(--ramp-purple-700);
  --color-purple-800: var(--ramp-purple-800);
  --color-purple-900: var(--ramp-purple-900);
  --color-purple-1000: var(--ramp-purple-1000);
  --color-red-100: var(--ramp-red-100);
  --color-red-200: var(--ramp-red-200);
  --color-red-300: var(--ramp-red-300);
  --color-red-400: var(--ramp-red-400);
  --color-red-500: var(--ramp-red-500);
  --color-red-600: var(--ramp-red-600);
  --color-red-700: var(--ramp-red-700);
  --color-red-800: var(--ramp-red-800);
  --color-red-900: var(--ramp-red-900);
  --color-red-1000: var(--ramp-red-1000);
  --color-teal-100: var(--ramp-teal-100);
  --color-teal-200: var(--ramp-teal-200);
  --color-teal-300: var(--ramp-teal-300);
  --color-teal-400: var(--ramp-teal-400);
  --color-teal-500: var(--ramp-teal-500);
  --color-teal-600: var(--ramp-teal-600);
  --color-teal-700: var(--ramp-teal-700);
  --color-teal-800: var(--ramp-teal-800);
  --color-teal-900: var(--ramp-teal-900);
  --color-teal-1000: var(--ramp-teal-1000);
  --color-violet-100: var(--ramp-violet-100);
  --color-violet-200: var(--ramp-violet-200);
  --color-violet-300: var(--ramp-violet-300);
  --color-violet-400: var(--ramp-violet-400);
  --color-violet-500: var(--ramp-violet-500);
  --color-violet-600: var(--ramp-violet-600);
  --color-violet-700: var(--ramp-violet-700);
  --color-violet-800: var(--ramp-violet-800);
  --color-violet-900: var(--ramp-violet-900);
  --color-violet-1000: var(--ramp-violet-1000);
  --color-white-100: var(--ramp-white-100);
  --color-white-200: var(--ramp-white-200);
  --color-white-300: var(--ramp-white-300);
  --color-white-400: var(--ramp-white-400);
  --color-white-500: var(--ramp-white-500);
  --color-white-600: var(--ramp-white-600);
  --color-white-700: var(--ramp-white-700);
  --color-white-800: var(--ramp-white-800);
  --color-white-900: var(--ramp-white-900);
  --color-white-1000: var(--ramp-white-1000);
  --color-yellow-100: var(--ramp-yellow-100);
  --color-yellow-200: var(--ramp-yellow-200);
  --color-yellow-300: var(--ramp-yellow-300);
  --color-yellow-400: var(--ramp-yellow-400);
  --color-yellow-500: var(--ramp-yellow-500);
  --color-yellow-600: var(--ramp-yellow-600);
  --color-yellow-700: var(--ramp-yellow-700);
  --color-yellow-800: var(--ramp-yellow-800);
  --color-yellow-900: var(--ramp-yellow-900);
  --color-yellow-1000: var(--ramp-yellow-1000);
}
